td,th {
    vertical-align: middle !important;
    text-align: center !important;
}
.input-group {
    margin-top:20px;
}
svg {
    height: 12rem; 
    width: 12rem;
}

td:first-of-type,td:first-of-type>div {
    height:200px;
    width:250px;
}